doctype html
head
		base(href='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi')
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/assets/css/main.css')

body